body {
  background-image: url(https://t1.blockdit.com/photos/2020/05/5eac2005fec4540c9c9c20b9_800x0xcover_3wzdme-i.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Kanit', sans-serif;
}